# Node.js
node_modules/
npm-debug.log*

# Env files
.env
.env.*
!.env.example

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
!terraform.tfvars.example
!*.tfvars.example

# Editor/IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

